<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="repositoryPath" value="packages" />
  </config>
  <packageSources>
    <add key="Digillect MyGet Feed" value="https://www.myget.org/F/digillect/api/v3/index.json" />
    <!-- This feed contains stable yet unpublished to main NuGet feed packages -->
    <add key="spekt VSTest Loggers" value="https://www.myget.org/F/spekt/api/v3/index.json" />
  </packageSources>
</configuration>